.background{
    background-color: black;
    height:auto;
}
.icon{
    color:white;
}
.copyr{
    color:white;
    text-align:center;
}
.icons{
    color:#20C20E;
    transition: color 0.5s;
}
.icons:hover{
    color: white;
}